In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = None
pd.set_option('display.float_format', lambda x: '%.3f' % x)
np.set_printoptions(precision=3,suppress=True)

from statsmodels.tsa.seasonal import seasonal_decompose

from sklearn.metrics import r2_score

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import TimeSeriesSplit

import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'statsmodels'

In [79]:
import warnings
warnings.simplefilter("ignore")

In [80]:
train_dataset = pd.read_csv('data/data_category_train.csv', parse_dates=['date'])
test_dataset = pd.read_csv('data/data_category_test.csv', parse_dates=['date'])

In [81]:
train_dataset.columns

Index(['date', 'item_id', 'store_id', 'category', 'sale'], dtype='object')

In [82]:
train_dataset.head()

        date  item_id  store_id category  sale
0 2015-07-02     1524         8  hobbies     0
1 2015-07-10     1873         7  hobbies     0
2 2015-07-11     1873         7  hobbies     0
3 2015-07-12     1873         7  hobbies     0
4 2015-07-13     1873         7  hobbies     0

In [83]:
test_dataset.head()

        date  item_id  store_id category  sale
0 2016-01-01        0         7    foods     0
1 2016-01-28     1864         8  hobbies     0
2 2016-01-29     1864         8  hobbies     0
3 2016-01-30     1864         8  hobbies     0
4 2016-01-31     1864         8  hobbies     0

In [84]:
print(f'Количество записей в трейне: {len(train_dataset)}')
print(f'Количество записей в тесте: {len(test_dataset)}')
print(f'Кратная разница: {round(len(train_dataset)/len(test_dataset), 1)}')

Количество записей в трейне: 3338655
Количество записей в тесте: 1051905
Кратная разница: 3.2

In [85]:
print(f'Начало трейна: {train_dataset["date"].min()}, Конец трейна: {train_dataset["date"].max()}')
print(f'Начало теста: {test_dataset["date"].min()}, Конец теста: {test_dataset["date"].max()}')

Начало трейна: 2015-01-01 00:00:00, Конец трейна: 2015-12-31 00:00:00
Начало теста: 2016-01-01 00:00:00, Конец теста: 2016-04-24 00:00:00

In [86]:
print(f"Соответствие магазинов в трейне и тесте: {set(train_dataset['store_id'].unique()) == set(test_dataset['store_id'].unique())}")
train_dataset['store_id'].nunique()

Соответствие магазинов в трейне и тесте: True

3

In [87]:
print(f"Соответствие товаров в трейне и тесте: {set(train_dataset['item_id'].unique()) == set(test_dataset['item_id'].unique())}")
train_dataset['item_id'].nunique()

Соответствие товаров в трейне и тесте: True

3049

In [88]:
print(f"Соответствие товаров в трейне и тесте: {set(train_dataset['category'].unique()) == set(test_dataset['category'].unique())}")
train_dataset['category'].nunique()

Соответствие товаров в трейне и тесте: True

3